/* Based on https://codepen.io/erikterwan/pen/EVzeRP by Erik Terwan, 2015 */

.nav {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow: hidden;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  gap: 0.5rem;
  background: var(--DEBUG4);
}

.nav-main {
  display: inline-block;
  position: absolute;
  top: 3rem;
  right: 3rem;
}
/* main menu toggle */
#menuToggle {
  display: static;
}
#menuToggle a {
  text-decoration: none;
  text-align: right;
  color: var(--theme-bg);
  transition: color 0.2s ease;
}
#menuToggle a:hover {
  color: var(--theme-cta);
}
#menuToggle input {
  display: block;
  width: var(--button-size);
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

/* hamburger menu */
#menuToggle span {
  display: block;
  width: var(--button-size);
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--theme-text);
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, opacity 0.35s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* transform burger into crosshair */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: scale(3 0);
  background: var(--theme-bg);
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  transform: scale(4 0);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: scale(5 0);
}

/* position menu tab */
#menu {
  position: absolute;
  width: max(320px, 25dvw);
  height: 100dvh;
  margin: -165px 0 0 65px;
  padding: 2vmin;
  padding-top: 125px;
  background: var(--theme-text);
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: none;
  transition: transform 0.3s ease-in-out;
}

#menu li {
  padding: 1vmin 2vmin;
  font-family: var(--font-heading);
  font-size: 3vh;
}

/* remove transform when checked */
#menuToggle input:checked ~ ul {
  transform: translate(-100%, 0);
}

/* theme picker stylings */

#theme-picker {
  position: static;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  isolation: isolate;
}

#theme-picker input[type="radio"] {
  appearance: none; /* strips default stylings */
  width: min(var(--button-size), 25px);
  height: min(var(--button-size), 25px);
  border: 3px solid var(--control-color, currentColor);
  /* border-radius: 50%; */
  cursor: pointer;
}

#theme-picker input[type="radio"]:hover {
  border: 5px solid var(--control-color);
}
#theme-picker input[type="radio"]:checked {
  background: var(--control-color);
}
#theme-picker input[type="radio"]#light {
  --control-color: white;
}
#theme-picker input[type="radio"]#dark {
  --control-color: black;
}
#theme-picker input[type="radio"]#pink {
  --control-color: #fa027e;
}
#theme-picker input[type="radio"]#green {
  --control-color: #0fba0f;
}
#theme-picker input[type="radio"]#blue {
  --control-color: #2828df;
}
