/* Based on https://codepen.io/erikterwan/pen/EVzeRP by Erik Terwan, 2015 */

:root {
  /* controls stylings */
  --button-size: 3vh;
  --DEBUG: red;
}

.nav {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  overflow: hidden;
  isolation: isolate;
}

/* position set of controls */
.nav-main {
  display: block;
  position: absolute;
  top: 6vh;
  right: 0;
  margin: 0 3vw 0 0;
  user-select: none;
}
/* main menu toggle */
#menuToggle {
  display: static;
}

/* menu item link styling */
#menuToggle a {
  text-decoration: none;
  color: var(--theme-bg);
  transition: color 0.2s ease;
}
#menuToggle a:hover {
  color: var(--theme-cta);
}

/* invisible menu toggle */
#menuToggle input {
  display: block;
  width: var(--button-size);
  height: calc(2 * var(--button-size));
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

/* hamburger UI elements */
#menuToggle span {
  display: block;
  width: var(--button-size);
  height: max(4px, 0.2vw);
  margin-bottom: calc(0.25 * var(--button-size));
  position: relative;
  background: var(--theme-text);
  z-index: 1;
  transform-origin: center;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, opacity 0.3s ease;
  /* background: var(--DEBUG); */
}
#menuToggle span:first-child {
  transform-origin: center;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: center;
}

/* transform burger into crosshair */
#menuToggle input:checked ~ span {
  background: var(--theme-bg);
  transform: translateY(1vh) rotate(-35deg);
}

/* main menu list rollout */
#menu {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  top: -6vh;
  left: 100%;
  margin: 0 0 0 3vw;
  padding: 4vh 15vw;
  background: var(--theme-text);
  list-style-type: none;
  transition: transform 0.3s ease-in-out;
}

/* sub menu indent */
#menu > ul {
  margin: 0 0 0 5vw;
}

/* menu items */
#menu li {
  font-family: var(--font-heading);
  font-size: 6vmin;
  margin: 2vh auto;
}

/* remove transform when checked */
#menuToggle input:checked ~ ul {
  transform: translate(-100%, 0);
}

/* theme picker stylings */

#theme-picker {
  position: static;
  display: flex;
  flex-direction: column;
  padding: 3vh 0;
  gap: 1vh;
  isolation: isolate;
}

#theme-picker input[type="radio"] {
  appearance: none; /* strips default stylings */
  width: var(--button-size);
  height: var(--button-size);
  border: max(4px, 0.2vw) solid var(--control-color, currentColor);
  cursor: pointer;
}

#theme-picker input[type="radio"]:hover {
  border: 5px solid var(--control-color);
}
#theme-picker input[type="radio"]:checked {
  background: var(--control-color);
}
#theme-picker input[type="radio"]#light {
  --control-color: white;
}
#theme-picker input[type="radio"]#dark {
  --control-color: black;
}
#theme-picker input[type="radio"]#pink {
  --control-color: #fa027e;
}
#theme-picker input[type="radio"]#green {
  --control-color: #0fba0f;
}
#theme-picker input[type="radio"]#blue {
  --control-color: #2828df;
}
