@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Poppins:wght@100;300;500&family=Comforter+Brush&family=Elephant&family=Azeret+Mono:wght@100;300;500;700;900&family=Dekko&family=Major+Mono+Display&family=Mr+Dafoe&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  /* Global fonts */
  --font-body: "Poppins", sans-serif;
  --font-mono: "Azeret Mono", monospace;
  --font-heading: var(--font-mono);

  /* Layout sizing defaults */
  /* For all pages except hero/full-width page */
  --content-max-width: 880px; /* i.e. maximum width */
  --content-margin-x: 5vw;
  --content-margin-y: 10rem;

  /* layout angle */
  --skew-angle: -2deg;

  /* animation styling */
  --delay: 150ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);

  /* FOR TESTING */
  --DEBUG1: #f00;
  --DEBUG2: #0f0;
  --DEBUG3: #00f;
  --DEBUG4: #ff0;
  --DEBUG5: #f0f;
  --DEBUG6: #0ff;
}

html {
  /* color-scheme: dark; /* This breaks theming... */
}

body {
  font-family: var(--font-body);
  color: var(--theme-text);
  background-color: var(--theme-bg);
}

/***** LAYOUT STYLINGS *****/

.site-wrapper {
  background: var(--theme-body);
  overflow: hidden;
}

/* for front page (hero) content */
.hero-container {
  position: relative;
  padding: 0 10vmin 0 2vmin;
  z-index: 1;
  height: 99dvh;
  margin: 0 0 -4vmin 0;

  /* animate the background gradient */
  background: var(--grad-hero);
  background-size: 200% 200%;
  animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* additional effects for front page */
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.05;
  background-image: url("../images/whitenoise.gif");
  background-repeat: repeat;
  /* background: red; */
}

/* for all other pages except front page */
.page-container {
  position: relative;
  margin: -2.5rem 0;
  padding: var(--content-margin-y) 0;
  display: flex;
  justify-content: center;
}

/* centred width-limited content container */
.content-container {
  position: relative;
  width: 100%;
  max-width: var(--content-max-width);
  display: flex;
  justify-content: start;
  align-items: start;
}

/* sub-containers within each section */

/* for vertical section titles */
.section-title {
  width: min(20vw, 12rem);
  /* background: var(--DEBUG4); */
}

.vertical-title {
  position: relative;
  transform-origin: left bottom;
  transform: translate(0%, -115%) rotate(90deg);
}

/* right-hand content area of each section */
.section-body {
  width: 75vw;
  display: flex;
  flex-direction: column;
}

/* different layouts for section-body */

.columns-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

/*** SPECIFIC PAGE STYLINGS ***/

/* FRONT page including LETTER PIXEL MATRIX stylings */

.page-container #front {
  height: 100dvh;
}

.letter-matrix {
  position: relative;
  top: 2vh;
  display: grid;
  justify-items: center;
  /* NOTE: grid template is set in media queries */
}

.pixel {
  font-family: var(--font-mono);
  color: var(--theme-text);
}

.pixel-colour {
  color: var(--theme-cta);
}

.pointer {
  position: relative;
  text-align: center;
  animation: point 2s ease-in-out infinite;
}
@keyframes point {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
}

/* ABOUT page styling */

.page-container#about {
  color: var(--theme-text);
  background: var(--grad-body);
}

/* PROJECTS page styling */

.page-container#projects {
  color: var(--theme-text);
  background: var(--theme-bg);
}

.project-card-container {
  flex-basis: 48%;
  width: 100%;
  height: max(35vh, 380px);
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.project-card {
  position: relative;
  width: inherit;
  height: inherit;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

/* flip card container on hover */
.project-card-container:hover .project-card {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.project-card-front,
.project-card-back {
  position: absolute;
  width: inherit;
  height: inherit;
  overflow: hidden;
  background: var(--theme-text);
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.project-card-back {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.25rem;
  color: var(--theme-bg);
  transform: rotateY(180deg);
}

.project-img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: top;
}

.project-title {
  font-family: var(--font-heading);
  line-height: 0.85;
  color: var(--theme-bg);
}

.skill-bubble {
  width: fit-content;
  font-size: 1rem;
  line-height: 2.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: var(--theme-bg);
  /* background: var(--theme-shadow); */
  border: 1px solid var(--theme-bg);
}

/* SKILLS page stylings */

.page-container#skills {
  color: var(--theme-text);
  background: var(--grad-body);
}

.skill {
  flex-basis: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: var(--DEBUG4); */
}

.skill-wide {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

/* CONTACT page styling */

.page-container#contact {
  color: var(--theme-text);
  background: var(--grad1);
}

.contact-form > * {
  flex-basis: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-family: var(--font-body);
  font-size: inherit;
  text-align: left;
  color: inherit;
  background: white;
}

.contact-form textarea {
  width: 100%;
  height: 6rem;
}

.contact-form input {
  width: 75%;
  height: 3rem;
}

.contact-form #submit-button {
  float: right;
  width: 20%;
  color: var(--theme-text);
}

/* FOOTER page stylings */

.page-container#footer {
  margin: 0 0 -10rem 0;
  padding: 4rem 0 16rem 0;
  color: var(--theme-text);
  background: var(--theme-bg);
}

/***** AESTHETIC STYLINGS *****/

/* text stylings */

h1 {
  font-family: var(--font-heading);
  font-size: clamp(4rem, 7vmin, 6rem);
  font-weight: 500;
  line-height: 120%;
  margin: 0.75rem 0;
}

h2 {
  font-size: clamp(2rem, 3.5vmin, 2.5rem);
  font-weight: 500;
  margin: 0.75rem 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.75rem 0;
}

h4 {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0.75rem 0;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0.75rem 0;
}

a {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--theme-cta);
  text-decoration: none;
}

a:hover {
  color: var(--theme-text);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  vertical-align: middle;
}

.button {
  padding: 0.75rem;
  width: fit-content;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  color: var(--theme-text);
  background: var(--theme-bg);
  border: 1px solid var(--theme-text);
}

.button:hover {
  background-color: var(--theme-cta);
  color: var(--theme-text);
}

ul {
  list-style: none;
}

ul > li {
  margin-left: 1rem;
}

.strong {
  font-weight: 700;
}

.text-blink {
  color: var(--theme-cta);
  animation: glow 1.5s var(--ease) infinite;
}
@keyframes glow {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/** section edge stylings **/

.diagonal {
  position: relative;
  z-index: 5;
  transform: skewY(var(--skew-angle));
  isolation: isolate;
}

.diagonal::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  box-shadow: 0px 0px 50px var(--theme-shadow);
  /* transform: skewY(var(--skew-angle)); */
}

/* scroll transition stylings */

.scroll-reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.6s ease;
}

.scroll-reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/*** THEMES STYLINGS ***/

/* LIGHT (DEFAULT) theme stylings */
.light,
:root:has(#light:checked) {
  --theme-white: #eee;
  --theme-black: #08080f;
  --theme-body: var(--grad-hero);
  --theme-bg: var(--theme-white);
  --theme-text: var(--theme-black);
  --theme-text-heading: var(--theme-black);
  --theme-shadow: #444;
  --theme-cta: #d82121;

  /* animated gradient for hero background */
  --grad-hero: linear-gradient(45deg, var(--theme-white), #ccc, #eee, #bbb, #fff);

  /* static gradient for section background */
  /* this should be contrasting to hero background */
  --grad-body: radial-gradient(at 50% 50%, #eee, #ddd);
}

/* DARK theme stylings */
.dark,
:root:has(#dark:checked) {
  --theme-white: #ddd;
  --theme-black: #08080f;
  --theme-body: var(--grad-hero);
  --theme-bg: var(--theme-black);
  --theme-text: var(--theme-white);
  --theme-text-heading: var(--theme-text);
  --theme-shadow: var(--theme-black);
  --theme-cta: #d82121;

  --grad-hero: linear-gradient(45deg, #111, #333, #222, #555, #111, #222, #111);
  --grad-body: radial-gradient(at 50% 50%, #333, #000);
}

/* RED theme stylings */
.pink,
:root:has(#pink:checked) {
  --theme-white: #eee;
  --theme-black: #08080f;
  --theme-body: #861452;
  --theme-bg: var(--theme-black);
  --theme-text: var(--theme-white);
  --theme-text-heading: #e0218a;
  --theme-shadow: #1114;
  --theme-cta: #e0218a; /* Barbie pink (TM) */
  --grad-hero: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --grad-body: linear-gradient(-45deg, #000000, #222, #38071f);
}

/* GREEN theme stylings */
.green,
:root:has(#green:checked) {
  --theme-white: #eee;
  --theme-black: #08080f;
  --theme-body: #336600;
  --theme-bg: var(--theme-black);
  --theme-text: var(--theme-white);
  --theme-text-heading: var(--theme-text);
  --theme-shadow: #444;
  --theme-cta: hsl(120, 75%, 40%);
  --grad-hero: linear-gradient(45deg, #71870f, #008552, #a4b945);
  --grad-body: linear-gradient(-45deg, #071f06, #336600);
}

/* BLUE theme stylings */
.blue,
:root:has(#blue:checked) {
  --theme-white: #eee;
  --theme-black: #08080f;
  --theme-body: #106;
  --theme-bg: var(--theme-black);
  --theme-text: var(--theme-white);
  --theme-text-heading: var(--theme-white);
  --theme-shadow: #aaa4;
  --theme-cta: #44f;
  --grad-hero: linear-gradient(45deg, hsl(180, 80%, 30%), hsl(180, 100%, 20%), hsl(180, 60%, 50%));
  --grad-body: linear-gradient(-45deg, #071f06, #106);
}

/* misc stylings */

/* hide labels which are read by screen readers */
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

/*** MEDIA QUERIES based on aspect ratio, not size ***/

/* for portrait screens taller than 3:4 */
@media (max-aspect-ratio: 3/4) or (max-width: 640px) {
  .letter-matrix {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
  .pixel {
    font-size: 8vh;
    line-height: 10vh;
  }

  /* make project-card full width of content-container */
  .project-card-container {
    flex-basis: 98%;
  }

  h1 {
    font-size: 12vw;
  }

  h2 {
    font-size: max(1rem, 6vw);
  }
}

/* for squareish screens between 3:4 and 4:3 */
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 4/3) {
  .letter-matrix {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .pixel {
    font-size: 13vh;
    line-height: 14.5vh;
  }
}

/* for landscape screens wider than 4:3 */
@media (min-aspect-ratio: 4/3) {
  .letter-matrix {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .pixel {
    font-size: 17.5vh;
    line-height: 20.5vh;
  }
}
