@import url("https://api.fonts.coollabs.io/css2?family=Libre+Baskerville:ital@0;1&family=Poppins:wght@100;300;500&family=Comforter+Brush&family=Elephant&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  /* global colours - see THEME stylings for main colours) */
  --theme-white: #d7dad9;
  --theme-black: #08080f;

  /* global fonts */
  --font-body: "Poppins", sans-serif;
  font-weight: 100;

  /* content sizing */
  --content-width: 960px;
  --content-height: 82vh;
  --content-margin-x: 5vw;
  --content-margin-y: 9vh;

  /* controls stylings */
  --button-size: 1rem;

  /* animation styling */
  --delay: 150ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);

  /* TESTING PURPOSES */
  --DEBUG1: #f00;
  --DEBUG2: #0f0;
  --DEBUG3: #00f;
  --DEBUG4: #ff0;
  --DEBUG5: #f0f;
  --DEBUG6: #0ff;
}

html {
  /* color-scheme: dark; how does this interact with themes? */
}

body {
  font: 1rem var(--font-body);
  background: var(--theme-body);
}

/***** LAYOUT STYLINGS *****/

.site-wrapper {
}

.page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: var(--DEBUG1); */
}

.background-container {
  /* background: var(--DEBUG2); */
}

.content-container {
  /* background: var(--DEBUG3); */
}

/*** SPECIFIC SECTION STYLINGS ***/

/* Page 1 - Front Page */

.page-container#page1 {
  height: 100vh;
  width: 100%;
  isolation: isolate;
}

.front-page-template {
  width: 100%;
  /* background: var(--DEBUG2); */
}

.front-page-zone1 {
  /* background: var(--DEBUG1); */
}

.front-page-zone2 {
  /* transform: skewY(-8deg); */
  /* background: url("https://picsum.photos/1920/1080");
  background-clip: content-box;
  background-size: cover; */
  /* background: var(--DEBUG2); */
}

.front-page-zone3 {
  /* background: var(--DEBUG3); */
}

.front-page-zone4 {
  position: absolute;
  z-index: 4;
  width: 4rem;
  height: 100vh;
  right: 0%;
  top: 0%;
  /* background: var(--DEBUG1); */
}

.lead-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.lead-image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

/* Page 2 - Projects page styling */

.page-container#page2 {
  z-index: 2;
  background: var(--theme-body);
}

.project-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

.project-card {
  background: var(--theme-bg);
}

.project-thumb {
}

.project-title {
  font: var(--font-heading);
}

/* about page styling */

.page-container#page3 {
  height: 50vh; /* PLACEHOLDER until it has content */
}

/* footer stylings */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 2rem;
  color: var(--theme-bg);
}

.footer-column {
  color: var(--theme-bg);
  width: min(260px, 25%);
  /* background: var(--DEBUG3); */
}

.contact-form textarea,
.contact-form input,
.contact-form button {
  width: 100%;
  margin: 5px 0;
  border: 0;
  border-bottom: 3px solid var(--theme-white);
  padding: 0.5rem;
  background: var(--theme-bg);
  font-family: var(--font-primary);
  color: var(--theme-black);
  text-align: left;
}

.contact-form textarea {
  height: 4rem;
}

.contact-form button:hover {
  background: var(--theme-cta);
}

/*** COMPONENT STYLINGS ***/

.nice-box-light {
  padding: 2rem;
  background: var(--grad1);
  margin: 2rem;
  box-shadow: 0px 0px 15px 15px #ddd8;
  border-radius: 10px;
}

/*** ORNAMENTS ***/

.vertical-bg {
  position: absolute;
  right: -5rem;
  font-family: "Libre Baskerville";
  font-size: 8rem;
  color: #ccc;
  z-index: 1;
  overflow: clip;
  white-space: nowrap;
  animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateY(200%) rotate(90deg);
  }
  100% {
    transform: translateY(-250%) rotate(90deg);
  }
}

.horizontal-dots {
  position: relative;
  font-size: 2rem;
  font-weight: 900;
  color: #cc0000;
}

/***** AESTHETIC STYLINGS *****/

/* text stylings */

.monogram-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50rem;
  z-index: 0;
}
.monogram-fg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50rem;
  -webkit-text-stroke: 4px var(--theme-text);
  -webkit-text-fill-color: transparent;
  z-index: 100;
}

h1 {
  font: var(--font-heading);
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: 500;
  line-height: 120%;
  margin: 1vh 0;
  color: var(--theme-text-heading);
}

h2 {
  font-weight: 300;
  font-size: clamp(2rem, 4vw, 3rem);
  margin: 1vh 0;
  color: var(--theme-text-heading);
}

h3 {
  font-weight: 100;
  font-size: clamp(1rem, 2vw, 2rem);
  color: var(--theme-text-heading);
}

p {
  font-size: 1rem;
}

a {
  color: var(--theme-text);
  text-decoration: none;
}

a:hover {
  color: var(--theme-highlight);
}

ul {
  list-style: none;
}

li {
  font-weight: 300;
}

/* section edge stylings */

.diagonal {
  --skew-angle: -1.5deg;
  --background: var(--grad1);
  margin: -5vh 0 -5vh 0;
  position: relative;
  isolation: isolate; /* isolate keeps the z-index of the contained elements within the scope of the parent so other elements can't interfere */
}

.diagonal::after {
  content: "";
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0; /* shorthand for top/bottom/left/right = 0 */
  transform: skewY(var(--skew-angle));
}

/* theme picker stylings */

.theme-picker > fieldset {
  position: fixed;
  z-index: 10000;
  isolation: isolate;
  top: 46px;
  right: 24px;
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: fit-content;
  border-radius: 0 0 10px 10px;
}

.theme-picker input[type="radio"] {
  appearance: none; /* strips default stylings */
  width: min(var(--button-size), 25px);
  height: min(var(--button-size), 25px);
  border: 3px solid var(--control-color, currentColor);
  border-radius: 50%;
  cursor: pointer;
}

.theme-picker input[type="radio"]:hover {
  border: 5px solid var(--control-color);
}

.theme-picker input[type="radio"]:checked {
  background: var(--control-color);
}
.theme-picker input[type="radio"]#light {
  --control-color: var(--theme-white);
}
.theme-picker input[type="radio"]#dark {
  --control-color: var(--theme-black);
}
.theme-picker input[type="radio"]#red {
  --control-color: red;
}
.theme-picker input[type="radio"]#green {
  --control-color: green;
}
.theme-picker input[type="radio"]#blue {
  --control-color: blue;
}

/*** THEMES STYLINGS ***/

/* LIGHT (DEFAULT) theme stylings */
.light,
:root:has(#light:checked) {
  --theme-body: var(--grad1);
  --theme-bg: var(--theme-white);
  --theme-text: var(--theme-black);
  --theme-text-heading: var(--theme-text);
  --theme-cta: #d82121;
  --grad1: radial-gradient(at 80% 30%, #eee, #ccc);
  /* --grad-linear-light-grey: linear-gradient(-45deg, #888, #aaa, #eee); */

  /* -grad-blue-green: linear-gradient(90deg, #4059ad, #6b9ac4, #98ce00, #648800); */
  --font-heading: 2.5rem "Libre Baskerville";
}

/* DARK theme stylings */
.dark,
:root:has(#dark:checked) {
  --theme-body: var(--grad1);
  --theme-bg: var(--theme-black);
  --theme-text: var(--theme-white);
  --theme-text-heading: var(--theme-text);
  --theme-cta: #2d2;
  --grad1: linear-gradient(-45deg, #111, #222, #444);
  --font-heading: 3rem "Libre Baskerville";
}

/* RED theme stylings */
.red,
:root:has(#red:checked) {
  --theme-body: var(--grad1);
  --theme-bg: #800;
  --theme-text: var(--theme-white);
  --theme-text-heading: rgb(214, 0, 103);
  --theme-cta: #d22;
  --grad1: linear-gradient(-45deg, #111, #222, #400);
  --font-heading: 5rem "Comforter Brush";
}

.site-wrapper:has(#red:checked) {
  /*** why isn't this working????? ***/
  background: var(--theme-body);
  background-size: 100% 100%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* GREEN theme stylings */
.green,
:root:has(#green:checked) {
  --theme-body: var(--grad1);
  --theme-bg: #080;
  --theme-text: var(--theme-white);
  --theme-text-heading: var(--theme-text);
  --theme-cta: #2d2;
  --grad1: linear-gradient(-45deg, #111, #222, #040);
  --font-heading: 3rem "Libre Baskerville";
}

/* BLUE theme stylings */
.blue,
:root:has(#blue:checked) {
  --theme-body: var(--grad1);
  --theme-bg: #008;
  --theme-text: var(--theme-white);
  --theme-text-heading: var(--theme-text);
  --theme-cta: #22d;
  --grad1: linear-gradient(-45deg, #111, #222, #004);
  --font-heading: 3rem "Libre Baskerville";
}

/* PREV page stylings */
.up,
:root:has(#up:checked) {
}

/* misc stylings */

/* for hiding labels used by screen readers */
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
