@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Poppins:wght@100;300;500&family=Comforter+Brush&family=Elephant&family=Azeret+Mono:wght@100;300;500;700;900&family=Dekko&family=Major+Mono+Display&family=Mr+Dafoe&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  /* Global white and black */
  /* All other colours set in THEME stylings */
  --theme-white: #d8d8d8;
  --theme-black: #08080f;

  /* Global fonts */
  --font-body: "Poppins", sans-serif;
  --font-mono: "Azeret Mono", monospace;
  --font-heading: var(--font-mono);

  /* Layout sizing defaults */
  /* For all pages except hero/full-width page */
  --content-width: 960px; /* i.e. maximum width */
  --content-margin-x: 5dvw;
  --content-margin-y: 10dvh;

  /* controls stylings */
  --button-size: max(30px, 1.25dvw);

  /* layout angle */
  --skew-angle: -2deg;

  /* animation styling */
  --delay: 150ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);

  /* FOR TESTING */
  --DEBUG1: #f00;
  --DEBUG2: #0f0;
  --DEBUG3: #00f;
  --DEBUG4: #ff0;
  --DEBUG5: #f0f;
  --DEBUG6: #0ff;
}

html {
  /* color-scheme: dark; /* This breaks theming... */
}

body {
  font-family: var(--font-body);
  color: var(--theme-text);
}

/***** LAYOUT STYLINGS *****/

.site-wrapper {
  background: var(--theme-body);
  overflow: hidden;
}

/* for front page (hero) content */
.hero-container {
  position: relative;
  padding: 0 10vmin 0 2vmin;
  z-index: 1;
  height: 99dvh;
  margin: 0 0 -4vmin 0;

  background: var(--grad1);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* additional effects for front page */
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.05;
  background-image: url("../images/whitenoise.gif");
  background-repeat: repeat;
  /* background: red; */
}

/* for all other pages except front page */
.page-container {
  position: relative;
  padding: var(--content-margin-y) var(--content-margin-x);
  display: flex;
  justify-content: center;
}

/* non full width content */
.content-container {
  position: relative;
  width: 100%;
  max-width: 960px;
  display: flex;
  justify-content: start;
  align-items: start;
}

.section-title {
  width: 12vw;
}

.section-body {
  width: 87vw;
}

.columns {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

/*** SPECIFIC PAGE STYLINGS ***/

/* FRONT page stylings */

.page-container #front {
  height: 100dvh;
}

.letter-matrix {
  position: relative;
  display: grid;
  justify-items: center;
  /* NOTE: grid template is set in media queries */
}

.pixel {
  font-family: var(--font-mono);
  color: var(--theme-text);
  /* outline: solid 1px var(--DEBUG5); */
}

.pointer {
  position: relative;
  line-height: 7dvh;
  text-align: center;
  animation: point 2s ease-in-out infinite;
}
@keyframes point {
  0%,
  100% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(0%);
  }
}

/* PROJECTS page styling */

.page-container#projects {
}

.project-card {
  background: var(--theme-bg);
}

.project-thumb {
  color: var(--theme-cta);
}

.project-title {
  font-family: var(--font-heading);
  color: var(--theme-text);
}

.project-stub {
  color: var(--theme-text);
}

/* ABOUT page styling */

.page-container#about {
}

/* SKILLS page stylings */

.page-container#skills {
}

.skill {
  text-align: center;
  /* background: var(--DEBUG4); */
}

/* CONTACT page styling */

.page-container#contact {
}

.qr-code {
  width: 200px;
  max-width: 80dvw;
  aspect-ratio: 1;
  background: var(--theme-bg);
  padding: 0.25rem;
}

/* FOOTER page stylings */

.page-container#footer {
  padding: 5vh 0 10vh 0;
  margin: 0 0 -3vh 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
}

.contact-form textarea,
.contact-form input,
.contact-form button {
  width: 100%;
  margin: 5px 0;
  border: 0;
  border-bottom: 3px solid var(--theme-white);
  padding: 0.5rem;
  font-family: var(--font-body);
  text-align: left;
}

.contact-form textarea {
  height: 4rem;
}

.contact-form button:hover {
  background: var(--theme-cta);
}

/***** AESTHETIC STYLINGS *****/

/* text stylings */

h1 {
  font-family: var(--font-heading);
  font-size: clamp(2rem, 6vmin, 3rem);
  font-weight: 500;
  line-height: 120%;
  margin: 1vh 0;
}

h2 {
  font-size: clamp(2rem, 4vmin, 3rem);
  font-weight: 300;
  margin: 1dvh 0;
}

h3 {
  font-size: clamp(0.5rem, 2vmin, 0.9rem);
  font-weight: 500;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0 0 1rem 0;
}

a {
  color: var(--theme-text);
  text-decoration: none;
}

a:hover {
  color: var(--theme-cta);
}

ul {
  list-style: none;
}

li {
  font-weight: 300;
}

.vertical-bg {
  position: relative;
  transform-origin: left bottom;
  transform: translate(0%, -100%) rotate(90deg);
}

.text-heading {
  color: var(--theme-cta);
}

.text-cta {
  color: var(--theme-cta);
  animation: glow 2s var(--ease) infinite;
}
@keyframes glow {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/** section edge stylings **/

.diagonal {
  color: var(--theme-bg);
  position: relative;
  z-index: 2;
  isolation: isolate;
}

.diagonal::after {
  content: "";
  background: var(--theme-text);
  position: absolute;
  z-index: -1;
  inset: 0; /* shorthand for top/bottom/left/right = 0 */
  transform: skewY(var(--skew-angle));
}

/*** THEMES STYLINGS ***/

/* LIGHT (DEFAULT) theme stylings */
.light,
:root:has(#light:checked) {
  --theme-body: #999;
  --theme-bg: var(--theme-white);
  --theme-text: var(--theme-black);
  --theme-text-heading: var(--theme-black);
  --theme-shadow: #6664;
  --theme-cta: #d82121;
  --grad1: radial-gradient(at 100% 0%, var(--theme-white), #888);
  --grad2: radial-gradient(at 0% 100%, var(--theme-white), #888);

  /* UNUSED properties */
  --background-image: none; /* for background-container */
  scrollbar-color: var(--theme-cta) var(--theme-bg);
}

/* DARK theme stylings */
.dark,
:root:has(#dark:checked) {
  --theme-body: var(--grad1);
  --theme-bg: var(--theme-black);
  --theme-text: var(--theme-white);
  --theme-text-heading: var(--theme-text);
  --theme-shadow: #28282866;
  --theme-cta: #d82121;
  --grad1: radial-gradient(at 0% 100%, #000, #222);
  --grad2: radial-gradient(at 100% 0%, #000, #111);
}

/* RED theme stylings */
.pink,
:root:has(#pink:checked) {
  --theme-body: #861452;
  --theme-bg: var(--theme-black);
  --theme-text: var(--theme-white);
  --theme-text-heading: #e0218a;
  --theme-shadow: #1114;
  --theme-cta: #e0218a; /* Barbie pink (TM) */
  --grad1: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --grad2: linear-gradient(-45deg, #000000, #222, #38071f);
}

/* GREEN theme stylings */
.green,
:root:has(#green:checked) {
  --theme-body: #240;
  --theme-bg: var(--theme-black);
  --theme-text: var(--theme-white);
  --theme-text-heading: var(--theme-text);
  --theme-shadow: #4442;
  --theme-cta: #2d2;
  --grad1: linear-gradient(90deg, #71870f 0%, #008552 100%);
  --grad2: linear-gradient(-45deg, #071f06, #006300);
}

/* BLUE theme stylings */
.blue,
:root:has(#blue:checked) {
  --theme-body: #106;
  --theme-bg: var(--theme-black);
  --theme-text: var(--theme-white);
  --theme-text-heading: var(--theme-white);
  --theme-shadow: #aaa2;
  --theme-cta: #44f;
  --grad1: linear-gradient(-45deg, #111, #222, #004);
}

/* misc stylings */

/* hide labels which are read by screen readers */
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

/*** MEDIA QUERIES based on aspect ratio, not size ***/

/* for portrait screens taller than 3:4 */
@media (max-aspect-ratio: 3/4) {
  .letter-matrix {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
  .pixel {
    font-size: 8dvh;
    line-height: 10dvh;
  }
}

/* for squareish screens between 3:4 and 4:3 */
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 4/3) {
  .letter-matrix {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .pixel {
    font-size: 13dvh;
    line-height: 14.5dvh;
  }
}

/* for landscape screens wider than 4:3 */
@media (min-aspect-ratio: 4/3) {
  .letter-matrix {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .pixel {
    font-size: 17.5dvh;
    line-height: 20.5dvh;
  }
}
