@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Poppins:wght@100;300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* set theme colours and fonts */
  --theme-white: #d7dad9;
  --theme-black: #08080f;
  --theme-highlight: #98ce00;
  --theme-midlight: #648800;
  --theme-lowlight: #263400;
  --theme-comp1: #4059ad;
  --theme-comp2: #6b9ac4;

  /* THEME color variables */
  --theme-body: var(--theme-lowlight);
  --theme-bg: var(--theme-white); /* -THESE-TWO- are toggled for dark mode */
  --theme-text: var(--theme-black); /* -THESE-TWO- are toggled for dark mode */
  --theme-cta: var(--theme-highlight);

  /* THEME font variables */
  --font-family-heading: "Libre Baskerville", serif;
  --font-family-body: "Poppins", sans-serif;

  /* gradient colors */
  --grad-color1: var(--theme-comp1);
  --grad-color2: var(--theme-comp2);
  --grad-color3: var(--theme-highlight);
  --grad-color4: var(--theme-midlight);
  --grad1: linear-gradient(90deg, var(--grad-color1), var(--grad-color2), var(--grad-color3), var(--grad-color4));

  /* content sizing */
  --content-width: 960px;
  --content-height: 82vh;
  --content-margin-x: 5vw;
  --content-margin-y: 9vh;

  /* size of top buttons, and also the margin tweak to compensate for them */
  --button-height: 30px;
  --nav-correction: -25px; /* ...why isn't this the same as button-height??? */

  /* animation styling */
  --delay: 150ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);

  /* COLORS FOR DEBUGGING */
  --DEBUG1: #f00;
  --DEBUG2: #0f0;
  --DEBUG3: #00f;
}

body {
  font-family: var(--font-family-body);
}

/***** LAYOUT STYLINGS *****/

.site-wrapper {
  width: 100dvw;
  height: 100dvh;
}

.page-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background: var(--theme-bg);
}

/* content container stylings */

.content-container {
  width: 80%;
  max-width: var(--content-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content-header {
  height: fit-content;
}

.content-body {
  width: 100%;
}

.headline {
  color: var(--theme-text);
}

.subtitle {
  color: var(--theme-text);
}

/* div placeholder for an image/widget */
.lead-image {
  height: 400px;
  background: var(--DEBUG1);
}

/***** AESTHETIC STYLINGS *****/

/* text stylings */

h1 {
  font-weight: 700;
  font-size: clamp(2rem, 6vw, 4rem);
  line-height: 140%;
  padding: 1vh 0;
}

h2 {
  font-weight: 300;
  font-size: clamp(1rem, 3vw, 2rem);
  line-height: 140%;
  padding: 2vh 0;
}

p {
  font-size: 1rem;
}

a {
  color: var(--theme-text);
  text-decoration: none;
}

a:hover {
  color: var(--theme-highlight);
}

/* specific page stylings */

.page-container#front {
  /* the corrections below compensate for toggle bar */
  height: calc(100vh - var(--nav-correction));
  margin: calc(var(--nav-correction)) 0 0 0; /* margin hack, doesn't work with var? */
  background: var(--theme-body);
}

.page-container#projects {
  background: var(--theme-highlight);
}

.page-container#about {
  background: var(--theme-body);
}

.page-container#skills {
  background: var(--theme-highlight);
}

.page-container#contact {
  background: var(--theme-body);
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 4vh 2vw;
  background: var(--grad1);
  margin: 0;
}

/* projects page styling */

.project-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

.project-card {
  background: var(--theme-bg);
}

.project-thumb {
  height: 100px;
  background: var(--DEBUG3);
}

.project-title {
  font-size: 2rem;
  font-family: var(--font-family-heading);
}

.project-skills {
}

.project-stub {
}

/* theme changer stylings */

.color-picker > fieldset {
  border: 0;
  display: flex;
  gap: 1rem;
  width: fit-content;
  background: var(--theme-body);
  padding: 1rem 2rem;
  margin-inline: auto;
  border-radius: 0 0 10px 10px;
}

.color-picker input[type="radio"] {
  appearance: none; /* strips default stylings */
  width: 1rem;
  height: 1rem;
  outline: 2px solid var(--control-color, currentColor);
  outline-offset: 4px;
  border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
  background: var(--control-color);
}
.color-picker input[type="radio"]#light {
  --control-color: var(--theme-white);
}
.color-picker input[type="radio"]#dark {
  --control-color: var(--theme-black);
}
.color-picker input[type="radio"]#red {
  --control-color: red;
}
.color-picker input[type="radio"]#green {
  --control-color: green;
}
.color-picker input[type="radio"]#blue {
  --control-color: blue;
}

:root:has(#light:checked) {
}

/* dark mode toggle stylings */

.toggleDark,
.toggleLight,
.toggleMute {
  position: fixed;
  top: 2vh;
  z-index: 20;
}

.toggleDark {
  display: inline-block;
  left: 110px;
}

.toggleLight {
  display: none;
  left: 110px;
}

.toggleMute {
  display: inline-block;
  left: 145px;
}

.toggleDark > img,
.toggleLight > img,
.toggleMute > img {
  cursor: pointer;
  height: var(--button-height);
}

.toggleDark:hover,
.toggleLight:hover,
.toggleMute:hover {
  filter: invert(50%);
}

#toggleMode {
  visibility: hidden;
}

#toggleMode:checked ~ .toggleDark {
  display: none;
}

#toggleMode:checked ~ .toggleLight {
  display: inline-block;
  filter: invert(100%);
}

#toggleMode:checked ~ .toggleMute {
  filter: invert(100%);
}

/* misc stylings */

/* for hiding labels used by screen readers */
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

/* SET DARK MODE: white text on black bg */
#toggleMode:checked ~ .site-wrapper {
  --theme-text: var(--theme-white);
  --theme-bg: var(--theme-black);
}

/* TO REDO AS MOBILE FIRST */
/* @media (max-width: 500px) {
  .page-container {
    width: 100vw;
    justify-content: center;
    align-items: flex-start;
  }

  .content-container {
    height: auto;
    flex-direction: column;
    padding: 0 3vw 3vh 0;
  }

  .content-header {
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }
} */
