@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

:root {
  /* global variables */
  --nav-line-height: 70px;
  --content-max-width: 700px;
  --space-x: 10vmin;
  --space-y: 15vh;
  --space-padding: 20px 20px;

  --theme-white: #ccc;
  --theme-black: #040404;
  --theme-highlight: #affc41;
  --theme-background: #222;

  --DEBUG-left: green;
  --DEBUG-right: red;

  --font-heading: "Archivo Black", san-serif;
  --font-primary: "Poppins", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--theme-black);
}

body {
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  font-family: var(--font-primary);
  color: var(--theme-white);
  display: grid;
  grid-template-columns: ;
}

/* general text block element stylings */

h1,
.headline {
  font-family: var(--font-heading);
  font-size: 5rem;
}

h2 {
  font-weight: 200;
}

h3,
.byline {
  font-size: 2rem;
  font-weight: 100;
}

p {
  font-weight: 300;
  font-size: smaller;
  margin-bottom: 1rem;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--theme-highlight);
}

/* primary area stylings */

section,
main {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: var(--space-padding);
  background-image: url("./images/gallery/liminal-ext-039.jpeg");
  background-size: cover;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

/* header element styling */

.page-title {
  width: var(--content-max-width);
}

.page-title:last-child:after {
  content: "↓";
  display: block;
  position: relative;
  font-size: 2em;
  opacity: 1;
  animation-name: arrow-bounce;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
@keyframes arrow-bounce {
  0%,
  100% {
    top: 0px;
  }
  50% {
    top: 25px;
  }
}

/* navigation stylings and media queries */

.topnav,
.bottomnav {
  background-color: var(--theme-white);
  box-shadow: 0px 10px 50px 50px #0006;
}

.topnav {
  position: sticky;
  top: 0px;
}

.bottomnav {
  padding: var(--space-padding);
}

.topnav a {
  float: left;
  display: block;
  color: var(--theme-black);
  text-align: center;
  padding: var(--space-padding);
  text-decoration: none;
}

.topnav a:hover {
  background-color: var(--theme-highlight);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* For screens <800px, hide links except the first and show the hamburger */
@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: inline-block;
    padding-right: 25px;
  }
}

/* Add "responsive" class when user clicks the hamburger */
@media screen and (max-width: 800px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .article-header {
    width: 100%;
    background-color: red;
    margin: 0px;
  }
}

@media (prefers-color-scheme: dark) {
  /* These need fixing! */
  body {
    --theme-white: #ccc;
    --theme-black: #040404;
    --theme-highlight: #affc41;
    --theme-background: #222;
  }
}

@media (prefers-color-scheme: light) {
  /* These need fixing! */
  body {
    --theme-white: #ccc;
    --theme-black: #040404;
    --theme-highlight: #affc41;
    --theme-background: #222;
  }
}

@media (prefers-reduced-motion: reduce) {
  /* These need fixing! */
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms iportant !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* article stylings */

.article {
  width: 100%;
  background-color: var(--theme-background);
}

.article-header,
.article-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: normal;
  width: 100%;
}

.article-header {
  justify-content: flex-end;
  padding-top: var(--space-y);
  background-size: cover;
}

.article-body {
  justify-content: flex-start;
  padding-bottom: var(--space-y);
}

.headline,
.byline {
  display: inline-block;
  width: var(--content-max-width);
  background-color: var(--theme-highlight);
  color: var(--theme-black);
  padding: var(--space-padding);
}

.headline {
  margin-top: var(--space-y);
}

.article-text {
  width: var(--content-max-width);
  background-color: var(--theme-white);
  padding: var(--space-padding);
  margin-bottom: 5vh;
}

#article-header-1 {
  background-image: url("./images/gallery/liminal-ext-017.jpeg");
}

#article-header-2 {
  background-image: url("./images/gallery/liminal-ext-018.jpeg");
}

#article-header-3 {
  background-image: url("./images/gallery/liminal-ext-019.jpeg");
}

/* portfolio stylings */

.portfolio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.portfolio-item {
  min-width: 47%;
  max-width: min-content;
}

.portfolio-thumbnail {
  min-width: 100%;
  height: 150px;
  background-color: white;
}

/* contact form stylings */

.contact-form input,
textarea {
  font-family: var(--font-primary);
  color: var(--theme-dark);
  padding: 12px 20px;
  margin: 10px 0px;
  box-sizing: border-box;
}

/* misc element stylings */

.headshot {
  width: 200px;
  border-radius: 50%;
  margin: 0px 30px 10px 0px;
  float: left;
  clear: right;
}

.bloody {
  font-family: "Creepster";
  color: red;
}

.go-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  bottom: var(--nav-line-height);
}

.left {
  float: left;
}

.right {
  float: right;
}
