body {
  font-family: "Raleway", sans-serif;
  color: #555;
  background: #333;
  margin: 3em;
}

.portfolio {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1em;
}

.project-thumb {
  width: 100%;
}
