/* inspired by https://codepen.io/kylewetton/pen/QJbOjw?editors=1100 */

html,
body {
  height: 100%;
}

:root {
  --black: #1b1e23;
  --white: #f4eed7;
  --feature: rgb(166, 9, 87);
  --size: 300px;
  --width: 15px;
}

body {
  background: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.clock {
  position: absolute;
  height: var(--size);
  width: var(--size);
  display: flex;
  justify-content: center;
  isolation: isolate;
  border-radius: 50%;
  outline: 1px solid var(--white);
}

.offset_dial_marks,
.offset_second,
.offset_minute,
.offset_hour {
  position: absolute;
  width: var(--size);
  height: var(--size);
  outline: 1px solid var(--white);
  /* background: #5553; */
}

.hand_second,
.hand_minute,
.hand_hour,
.dial_mark {
  position: absolute;
  left: calc(50% - 0.5 * var(--width));
  background: var(--white);
  transform-origin: bottom center;
  z-index: 2;
  width: var(--width);
  border-radius: 2px;
  background: var(--white);
}

.hand_second {
  left: calc(50% - 0.5 * var(--width)); /* tweak by half width */
  height: calc((var(--size) * 0.41));
  margin-top: calc((var(--size) * 0.09));
  animation: time 60s infinite steps(60);
  background: var(--feature);
}
.hand_minute {
  left: calc(50% - 0.5 * var(--width)); /* tweak by half width */
  height: calc((var(--size) * 0.41));
  margin-top: calc((var(--size) * 0.09));
  animation: time 3600s linear infinite;
}
.hand_hour {
  left: calc(50% - 0.5 * var(--width)); /* tweak by half width */
  height: calc((var(--size) * 0.33));
  margin-top: calc((var(--size) * 0.17));
  animation: time 43200s linear infinite;
}
@keyframes time {
  to {
    transform: rotateZ(360deg);
  }
}

/* markings */

.axle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  height: var(--width);
  width: var(--width);
  border-radius: 50%;
  background: var(--feature);
}

.dial_mark {
  height: calc(0.5 * var(--size) - var(--width));
  background: none;
  border-radius: 0;
  border-top: var(--width) solid var(--feature);
}

.dial_mark:nth-of-type(1) {
  transform: rotateZ(calc(30deg * 1));
}
.dial_mark:nth-of-type(2) {
  transform: rotateZ(calc(30deg * 2));
}
.dial_mark:nth-of-type(3) {
  transform: rotateZ(calc(30deg * 3));
}
.dial_mark:nth-of-type(4) {
  transform: rotateZ(calc(30deg * 4));
}
.dial_mark:nth-of-type(5) {
  transform: rotateZ(calc(30deg * 5));
}
.dial_mark:nth-of-type(6) {
  transform: rotateZ(calc(30deg * 6));
}
.dial_mark:nth-of-type(7) {
  transform: rotateZ(calc(30deg * 7));
}
.dial_mark:nth-of-type(8) {
  transform: rotateZ(calc(30deg * 8));
}
.dial_mark:nth-of-type(9) {
  transform: rotateZ(calc(30deg * 9));
}
.dial_mark:nth-of-type(10) {
  transform: rotateZ(calc(30deg * 10));
}
.dial_mark:nth-of-type(11) {
  transform: rotateZ(calc(30deg * 11));
}
.dial_mark:nth-of-type(12) {
  transform: rotateZ(calc(30deg * 12));
}

#digital {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20vw;
  color: #333;
}
