/* inspired by https://codepen.io/kylewetton/pen/QJbOjw?editors=1100 */

html,
body {
  height: 100%;
}

:root {
  --black: #1b1e23;
  --white: #f4eed7;
  --feature: hotpink;
  --size: 300px;
  --width: calc(var(--size) * 0.1);
}

body {
  background: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.clock {
  position: absolute;
  height: var(--size);
  width: var(--size);
  display: flex;
  justify-content: center;
  isolation: isolate;
  /* background: black;
  border: 15px solid black;
  border-radius: 50%; */
  /* outline: 1px solid var(--white); */
}

.axle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: var(--width);
  width: var(--width);
  border-radius: 50%;
  background: red;
}
.offset_second,
.offset_minute,
.offset_hour {
  position: absolute;
  width: var(--size);
  height: var(--size);
  /* background: #5553; */
}

.hand_second,
.hand_minute,
.hand_hour {
  position: relative;
  left: calc(50% - 0.5 * var(--size));
  top: calc(50% - 0.5 * var(--size));
  background: var(--white);
  transform-origin: calc(var(--width) * 0.5) calc(var(--size) * 0.5);
  border-radius: 5px;
}

.dial_mark {
  position: absolute;
  top: 0%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  transform-origin: calc(var(--width) * -0.5) calc(var(--size) * 0.5);
  width: var(--width);
  height: var(--width);
  border-radius: 50%;
  background: var(--feature);
}

.hand_second {
  left: calc(50% - 1px); /* tweak by half width */
  width: var(--width);
  height: calc((var(--size) * 0.45));
  margin-top: calc((var(--size) * 0.05));
  /* transform-origin: bottom center; */
  animation: time 60s infinite steps(60);
  background: var(--feature);
}
.hand_minute {
  left: calc(50% - 2px); /* tweak by half width */
  width: var(--width);
  height: calc((var(--size) * 0.42));
  margin-top: calc((var(--size) * 0.08));
  transform-origin: bottom center;
  animation: time 3600s linear infinite;
}
.hand_hour {
  left: calc(50% - 2px); /* tweak by half width */
  width: var(--width);
  height: calc((var(--size) * 0.35));
  transform-origin: bottom center;
  margin-top: calc((var(--size) * 0.15));
  animation: time 43200s linear infinite;
}
@keyframes time {
  to {
    transform: rotateZ(360deg);
  }
}

/* dial markings */

.dial_mark:nth-of-type(1) {
  transform: rotateZ(calc(30deg * 1));
}
.dial_mark:nth-of-type(2) {
  transform: rotateZ(calc(30deg * 2));
}
.dial_mark:nth-of-type(3) {
  transform: rotateZ(calc(30deg * 3));
}
.dial_mark:nth-of-type(4) {
  transform: rotateZ(calc(30deg * 4));
}
.dial_mark:nth-of-type(5) {
  transform: rotateZ(calc(30deg * 5));
}
.dial_mark:nth-of-type(6) {
  transform: rotateZ(calc(30deg * 6));
}
.dial_mark:nth-of-type(7) {
  transform: rotateZ(calc(30deg * 7));
}
.dial_mark:nth-of-type(8) {
  transform: rotateZ(calc(30deg * 8));
}
.dial_mark:nth-of-type(9) {
  transform: rotateZ(calc(30deg * 9));
}
.dial_mark:nth-of-type(10) {
  transform: rotateZ(calc(30deg * 10));
}
.dial_mark:nth-of-type(11) {
  transform: rotateZ(calc(30deg * 11));
}
.dial_mark:nth-of-type(12) {
  transform: rotateZ(calc(30deg * 12));
}
