* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}
.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  background: grey;
  padding: 1vh;
}

.board-container {
  display: flex;
  flex-direction: column;
  padding: 1vh;
  background: #008;
}

/* rows */
.board-container > div {
  display: flex;
}

/* cells */
.board-container > div > div {
  margin: 1vh;
  width: 17vh;
  height: 17vh;
  background: #800;
}

.controls-container {
  height: 16vh;
  background: #080;
}

@media screen and (max-width: 480px) {
  body {
    background: #fff;
  }

  .board-container > div > div {
    margin: 1vh;
    width: 19vw;
    height: 19vw;
    background: #00f;
  }

  .controls-container {
    height: 16vw;
    background: #080;
  }
}
