* {
  margin: 0px;
  padding: 0px;
}

.gridcontainer {
  display: grid; /*set the display property of container to grid*/
  height: 100vh;
  grid-gap: 0px;
  grid-template-rows: 150px 80px auto 80px;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}
.gridcontainer header {
  grid-area: header;
  background-color: #ff9999;
}
.gridcontainer nav {
  grid-area: nav;
  background-color: aqua;
}
.gridcontainer main {
  grid-area: main;
  background-color: #ddd;
}
.gridcontainer footer {
  grid-area: footer;
}

/* .gridcontainer .div1{ */
/* grid-area: header; */
/* grid-column: 1/4;  */
/* grid-row: 1/1; */
/* } */

/*
  
  The gap property is a shorthand property for the row-gap and the column-gap properties:
   gap: 50px 100px;
  */
