.navbar {
  display: block;
  overflow: hidden;
  position: sticky;
  top: 0px;
  background-color: green;
  padding: 10px;
  z-index: 100;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #333;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu li {
  margin-right: 10px;
}

.menu li a {
  text-decoration: none;
  color: #333;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .navbar {
    padding: 5px;
  }

  .logo {
    font-size: 16px;
  }

  .menu li {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  #menu-toggle {
    display: none;
  }

  #menu-toggle:checked ~ .menu li {
    display: block;
  }
}

body {
  background-color: #888;
}
