/* section edging tutorial from https://www.youtube.com/watch?v=hWGgw1K-i8Y */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --theme-black: #111;
  --theme-white: #eee;
  --DEBUG: #f00;
  --color1: #3c1642; /* russian violet */
  --color2: #086375; /* carribbean current */
  --color3: #1dd3b0; /* turquoise */
  --color4: #affc41; /* green yellow */
  --color5: #b2ff9e; /* light green */

  --gradient1: linear-gradient(45deg, var(--color1), var(--color2), var(--color3), var(--color4), var(--color5));
}

html {
  color-scheme: dark light;
}

body {
  background: var(--theme-black);
  color: var(--theme-white);
  font-family: system-ui;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}

header {
  text-align: center;
}

section {
  /* height: 100vh; */
}

.content-wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

.site-title {
  font-size: 3rem;
  text-align: center;
}

.section-title {
  font-size: 2.25rem;
}

section {
  padding-block: 4rem;
}

.diagonal {
  --skew-angle: -3deg;
  --background: var(--gradient1);
  position: relative;
  isolation: isolate; /* isolate keeps the z-index of the contained elements within the scope of the parent so other elements can't interfere */
}

.diagonal::after {
  content: "";
  background: var(--gradient1);
  position: absolute;
  z-index: -1;
  inset: 0; /* shorthand for top/bottom/left/right = 0 */
  transform: skewY(var(--skew-angle));
}

.spikes {
  /* N.B. spike will only 'disappear' into a matching solid background */
  --spike-color: var(--theme-black);
  --spike-width: 200px;
  --spike-height: 20px;
  position: relative;
  background: var(--gradient1);
}

.spikes::before,
.spikes::after {
  content: "";
  position: absolute;
  width: 100%; /* only necessary with absolute position */
  height: var(--spike-height);
  background: var(--spike-color);

  /* mask-image requires prefixing in Chrome, not for Firefox and Safari */
  -webkit-mask-image: url("./images/spike-path.svg");
  -webkit-mask-size: var(--spike-width) var(--spike-height);
  mask-image: url("./images/spike-path.svg");
  mask-size: var(--spike-width) var(--spike-height);
}

/* use SVG Path Editor tool to create a simple triangle tile, with coordinates M 0 0 L 10 0 L 5 5 Z then download fill only (no stroke) SVG */

/* In the SVG file, in <SVG> tag, add preserveAspectRatio="none" to allow deformation */

.spikes::before {
  top: 0;
}

.spikes::after {
  bottom: 0;
  transform: rotate(0.5turn);
  /* this transform might cause glitches with browser zooms, so instead of rotating here, you could just use a second SVG */
}

.waves {
  /* Different technique from the spikes, using set of radial gradients made by css-generators.com/wavy-shapes/ (which could do spikes in a similar way) */
  background: var(--gradient1);

  --mask: radial-gradient(55.9px at 50% 75px, #000 99%, #0000 101%) calc(50% - 50px) 0/100px 51% repeat-x, radial-gradient(55.9px at 50% -50px, #0000 99%, #000 101%) 50% 25px/100px calc(51% - 25px) repeat-x, radial-gradient(55.9px at 50% calc(100% - 75px), #000 99%, #0000 101%) calc(50% - 50px) 100%/100px 51% repeat-x, radial-gradient(55.9px at 50% calc(100% + 50px), #0000 99%, #000 101%) 50% calc(100% - 25px) / 100px calc(51% - 25px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

/* misc furniture */

footer {
  position: fixed;
  font-size: small;
  bottom: 5px;
  right: 5px;
}

.home-btn {
  margin: 10px;
  padding: 4px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.home-btn:hover {
  background-color: #888;
}
