@import url("https://api.fonts.coollabs.io/css2?family=Azeret+Mono:wght@100;300;500;700;900&family=Dekko&family=Major+Mono+Display&family=Mr+Dafoe&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.page-container {
}

.content-wrapper {
}

.letter-matrix {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(9vw, 1fr));
  grid-template-rows: repeat(4, 18vh);
}

.letter-matrix a {
  display: inline-block;
  text-decoration: none;
}

.letter-matrix a:hover {
  background-color: red;
}

.pixel {
  font-family: "Azeret Mono";
  font-size: clamp(4rem, 9vw, 15vh);
  text-align: center;
  /* background: green; */
}

.pointer {
  font-size: 3rem;
  text-align: center;
  animation: point 2s ease-in-out infinite;
}
@keyframes point {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
}
