@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Oxanium&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color1: #06d6a0; /* light yellow */
  --color2: #1b9aaa; /* blue munsell */
  --color3: #ef476f; /* bright pink crayola */
  --color4: #ffc43d; /* amber */
  --color5: #f8ffe5; /* light yellow */
  --color6: #ffffff; /* pure white */
  --shadow: #4444;
  --DEBUG: red;

  --gradient: linear-gradient(0deg, var(--color1), var(--color2), var(--color3), var(--color4));

  --gradient-reverse: linear-gradient(180deg, var(--color1), var(--color2), var(--color3), var(--color4), var(--color5));

  --gradient-chrome: linear-gradient(180deg, var(--color1), var(--color6), var(--color2));
}

body {
  font-family: "Oxanium", sans-serif;
  color: var(--color5);
}

/* layout stylings */

.game-container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2vmin;
  padding: 2vmin;
  /* background: var(--color5); */
  background: var(--gradient);

  user-select: none;
  overflow: hidden;
}

/* hide board until game starts */
#board-container {
  display: none;
  position: absolute;
  left: center;
  top: center;
  margin-bottom: 10vmin;
  z-index: 1;
  isolation: isolate;
}

/* text areas stylings */

#title-splash {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 2;
  padding: 5dvh 0;
  transform: translateY(-65%) skewY(-15deg);
  background: var(--gradient-chrome);
  box-shadow: 0px 0px 30px 30px var(--shadow);
}

#main-title {
  /* add gradient to title text */
  background: var(--gradient-reverse);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#status {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1vmin;
}

/* the four main game buttons */

.btn {
  display: inline-block;
  border-radius: 10%;
  height: 40vmin;
  width: 40vmin;
  margin: 1vmin;
}

.hoverable:hover {
  cursor: pointer;
}

.color1 {
  background: var(--color1);
  border-top-left-radius: 100%;
}

.color2 {
  background: var(--color2);
  border-top-right-radius: 100%;
}

.color3 {
  background: var(--color3);
  border-bottom-left-radius: 100%;
}

.color4 {
  background: var(--color4);
  border-bottom-right-radius: 100%;
}

.color5 {
  background: var(--color5);
}

/* text and highlight stylings */

h1 {
  font-weight: 800;
  font-family: "Monoton";
  font-size: 18vmin;
  line-height: 20vmin;
}

h2 {
  font-size: 7vmin;
  margin: 2vmin;
}

.pressed {
  background: var(--color6);
}

.error {
  background: red;
}

/* misc furniture */

footer {
  position: fixed;
  font-size: 7px;
  bottom: 0;
  right: 0;
}
