@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --game-white: #eee;
  --game-black: #08080f;
  --game-highlight: #ccc;
  --game-good: #6a6;
  --game-bad: #f66;

  --DEBUG: #f00;

  --font-family-heading: "Permanent Marker", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  --font-family-body: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(45deg, #aaa, #272040);
  font-family: var(--font-family-body);
  color: var(--game-black);
}

.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.heading-container {
  width: 100%;
  height: auto;
  padding: 0 0 2vw 0;
  margin: 0 0 2vw 0;
  border-radius: 5px;
  background: var(--game-white);
  box-shadow: 0px 0px 20px #666;
}

.board-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  padding: 10px;
  border-radius: 5px;
  background: var(--game-white);
  box-shadow: 0px 0px 20px #666;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 20vw;
  height: 20vw;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-family-heading);
  font-size: 18vw;
  text-align: center;

  border-radius: 0px;
  border-width: 2px;
  border-color: var(--game-black);
}

.cell.top-left {
  border-style: none solid solid none;
  border-radius: 5px 0 0 0;
}

.cell.top {
  border-style: none solid solid solid;
}

.cell.top-right {
  border-style: none none solid solid;
  border-radius: 0 5px 0 0;
}

.cell.left {
  border-style: solid solid solid none;
}

.cell.center {
  border-style: solid;
}

.cell.right {
  border-style: solid none solid solid;
}

.cell.bottom-left {
  border-style: solid solid none none;
  border-radius: 0 0 0 5px;
}

.cell.bottom {
  border-style: solid solid none solid;
}

.cell.bottom-right {
  border-style: solid none none solid;
  border-radius: 0 0 5px 0;
}
/* flashes, highlights, animation */

.animate {
  animation: animate 0.5s infinite ease-in-out alternate;
}

@keyframes animate {
  from {
    transform: skewY(5deg);
  }
  to {
    transform: skewY(-5deg);
  }
}

.flashing {
  animation: flashing 0.5s 4 ease-in;
}
@keyframes flashing {
  0% {
    background: var(--game-good);
  }
  100% {
    background: var(--game-white);
  }
}

.blink {
  animation: blink 0.5s 1 ease-in;
}
@keyframes blink {
  0% {
    background: var(--game-good);
  }
  100% {
    background: var(--game-white);
  }
}

.green {
  background: var(--game-good);
}

.red {
  background: var(--game-bad);
}

.hoverable:hover {
  cursor: pointer;
  background: var(--game-highlight);
}

/* text stylings */

#main-title {
  font-family: var(--font-family-heading);
  font-size: 14vw;
  text-align: center;
}

#subtitle {
  font-family: var(--font-family-body);
  font-size: 6vw;
  text-align: center;
}

/* misc stylings */

footer {
  position: fixed;
  font-size: small;
  bottom: 5px;
  right: 5px;
}

/* media query for landscape screens */
@media only screen and (min-width: 500px) {
  .heading-container {
    padding: 0 0 2vh 0;
    margin: 0 0 2vh 0;
  }

  .cell {
    height: 15vh;
    width: 15vh;
    font-size: 13vh;
  }
  #main-title {
    font-size: 9vh;
  }

  #subtitle {
    font-size: 4vh;
  }
}
