* {
  /* global variables */
  --nav-line-height: 70px;
  --theme-light: #eee;
  --theme-dark: #2e2b38;
  --theme-highlight: #c00c33;
  --theme-background: #333;
  --DEBUG-left: lawngreen;
  --DEBUG-right: rebeccapurple;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--theme-light);
}

body {
  font-family: "Poppins", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  height: 100%;
}

.page-wrapper {
  min-height: 100%;
  margin-bottom: -var(--nav-line-height);
}

.grid-container {
  /* static grain texture */
  background: url("./images/whitenoise_200px.png");
  background-repeat: repeat-x-y;

  display: grid;
  min-height: 100vh;
  padding: 2vw 2vh;
  margin: 0 auto -var(--nav-line-height);
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: max-content auto max-content;
}

/* For screen-width less than 768px. */
/* See @media for large sizes. */
.dynamic {
  display: block;
  width: 100%;
  text-align: center;
}

header {
  grid-area: header;
  line-height: var(--nav-line-height);
  background-color: var(--theme-background);
  box-shadow: 0px 10px 10px 5px #3333;
}

logotype {
  visibility: visible;
}

nav {
  text-align: center;
}

nav .nav-item {
  display: inline-block;
  width: 90px;
  height: var(--nav-line-height);
}

.nav-item:hover {
  font-weight: bold;
}

main {
  grid-area: main;
}

.go-to-top {
  position: fixed;
  right: 13px;
  bottom: var(--nav-line-height);
}

footer {
  grid-area: footer;
  line-height: var(--nav-line-height);
}

footer,
.push {
  height: var(--nav-line-height);
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  /* background moving gradient */
  background: linear-gradient(-45deg, #3c3938, #2e2b38, #5c6163, #831e42);
  background-size: 200% 200%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: "Comforter Brush", Cochin, Georgia, Times, serif;
  font-size: clamp(2rem, 5vw, 4rem);
  color: var(--theme-highlight);
}

h2 {
  font-weight: 400;
  font-size: 4rem;
}

h3 {
  font-weight: 300;
  font-size: 3rem;
}

.title {
  display: block;
  clear: both;
  text-align: center;
}

p,
a {
  color: var(--theme-light);
  text-decoration: none;
}

/* contact form styling */
.contact-form {
  color: var(--theme-light);
}
.contact-form input,
textarea {
  margin: 10px;
  padding: 5px;
  border: 0px;
  border-bottom: 8px solid black;
}

.left {
  float: left;
}
.right {
  float: right;
}

/* for larger screens - mobile first design */
@media only screen and (min-width: 640px) {
  .dynamic {
    display: inline-block;
    width: auto;
  }
}
