@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --app-black: #08080f;
  --app-white: #f8f8f8;
  --app-grey: #ddd;
  --app-highlight: #88f;
  --app-select-green: #4d4;
  --app-select-red: #d44;

  --font-body: "Poppins", sans-serif;
  --font-heading: "Poppins", sans-serif;

  --gradient: linear-gradient(45deg, #ddd 0%, #aaa 100%);

  --DEBUG: #f00;
}

body {
  font-family: var(--font-body);
}

.page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background: var(--app-black);
}

.app-container {
  height: 90vh;
  padding: 2vh;
  margin: 0 auto;
  border-radius: 5px;
  background: var(--gradient);
  box-shadow: -5px -5px 10px 0px #0004 inset, 5px 5px 10px 0px #ddd2 inset;
}

/* board stylings */

.board-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.button {
  display: inline-flex;
  height: 7.5vh;
  width: 7.5vh;
  margin: 1vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px #fff4 inset, 2px 2px 5px 5px #1111;
}

.button:hover,
.control:hover {
  cursor: pointer;
  background: var(--app-highlight);
}

/* color stylings */

/* when a melodic note has been clicked */
.select-green {
  background: var(--app-select-green);
}

/* when a percussion note has been clicked */
.select-red {
  background: var(--app-select-red);
}

.highlight {
  /* when a note is hovered or scrolled over */
  background: var(--app-highlight);
}

/* controls stylings */

.controls-container {
  display: flex;
  justify-content: space-between;
}

.controls-section {
  display: flex;
  align-content: flex-end;
  padding: 1vh;
}

#mode-controls {
  padding: 12px 0 0 0;
}

#play-controls {
  text-align: center;
}

#misc-controls {
  text-align: right;
}

.control {
  display: inline-flex;
  align-items: center;
  padding: 6px 0;
  margin: 1vh 0;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px #fff4 inset, 2px 2px 5px 5px #1111;
}

/* mode toggle switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 5px;
}

.switch input {
  display: none;
  visibility: hidden;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--app-select-green);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--app-white);
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: var(--app-select-red);
}

.switch input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* other controls */

#toggle-play {
  display: none;
  visibility: hidden;
}

#btn-play {
  display: inline-block;
}

#btn-pause {
  display: none;
}

#btn-tempo,
#btn-random,
#btn-reset {
  vertical-align: middle;
  margin-left: 0.5vw;
}

#btn-tempo {
  width: 66px;
  text-align: left;
}

/* misc furniture stylings */

.home-btn {
  position: absolute;
  margin: 5px;
  padding: 5px;
  border: none;
}

.home-btn:hover {
  background-color: #888;
}

footer {
  margin: 10px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size: x-small;
  color: var(--app-white);
}

/* For portrait screens <700px */
@media screen and (max-width: 700px) {
  .app-container {
    height: 100vh;
    width: 100vw;
    padding: 1vh 1vw;
    border-radius: 0;
  }

  .board-container {
    height: 80vh;
    margin: 0;
    padding: 4vh 1vw;
  }

  .controls-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4vw;
    gap: 10px;
  }

  .control {
    display: inline-flex;
    align-items: center;
    padding: 6px 1vw;
    margin: 1vw;
    height: fit-content;
  }

  .button {
    height: 7.5vh;
    width: 12vw;
  }

  #play-controls {
    order: 1;
    flex-basis: 100%;
  }

  #mode-controls,
  #misc-controls {
    order: 2;
  }
}

/* for extreme landscape screens */
@media screen and (max-height: 700px) {
  .button {
    height: 7.5vh;
    width: 7.5vw;
  }
}
