@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Poppins:wght@100;300;500;700;900&display=swap");

:root {
  /* color stylings */
  --theme-black: hsl(200, 15%, 5%);
  --theme-grey: hsl(200, 15%, 15%);
  --theme-text: hsl(200, 15%, 85%);
  --theme-action: hsl(200, 100%, 60%);
  --theme-bg: hsl(0, 0%, 7%);
  --theme-shadow: hsla(0, 0%, 40%, 30%);

  /* text stylings */
  --font-body: "Poppins", sans-serif;
  --font-heading: "Rock Salt", cursive;
  --progress-degrees: 0deg;
  --progress-percent: 0;
  --DEBUG: red;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
}

body {
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--theme-text);
  background: var(--theme-grey);
}

/* layout stylings */

.page-wrapper {
  position: absolute;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-135deg, var(--theme-black), var(--theme-grey));
}

.app-container {
  display: flex;
  flex-direction: column;
  padding: 2vh 2vw;
  max-width: 800px;
  max-height: min-content;
}

.input-row,
.results-row {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#enter-details {
  flex-basis: 50%;
  margin-right: 1rem;
}

#choose-method {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.results-row > div {
  border-radius: 1rem;
  padding: 1rem;
  background: var(--theme-bg);
  display: flex;
}

#current-progress {
  flex-basis: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#current-progress > div {
  flex-basis: 50%;
  gap: 1rem;
}

#deadline {
  flex-basis: 40%;
  background: var(--theme-grey);
  border: 1px solid var(--theme-text);
  display: flex;
  flex-direction: column;
}

.space-after {
  padding: 0 0 0.5rem 0;
}

/* other elements stylings */

input,
select {
  display: inline-block;
  padding: 5px 0px;
  border: none;
  border-bottom: 1px solid var(--theme-text);
  background: none;
  text-align: right;
  vertical-align: middle;
  cursor: text;
}

input:focus {
  border: 1px solid var(--theme-action);
  transition: 0.35s linear;
}

/* replace radio buttons */

#choose-days-to-date,
#choose-start-date {
  --radio-size: 1.15rem;
  width: var(--radio-size);
  height: var(--radio-size);
  margin-inline-end: 0.5rem;
  cursor: pointer;
}

input[type="radio"]:after {
  width: var(--radio-size);
  height: var(--radio-size);
  border-radius: var(--radio-size);
  position: relative;
  background-color: var(--theme-bg);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid var(--theme-text);
}

input[type="radio"]:checked:after {
  width: var(--radio-size);
  height: var(--radio-size);
  border-radius: var(--radio-size);
  position: relative;
  background-color: var(--theme-action);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid var(--theme-text);
  outline: 1px solid var(--theme-text);
}

/* data visualization */

.words-circle {
  --size: 9rem;
  width: var(--size);
  height: var(--size);
  margin-left: -1rem;
}

.outer-circle {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  height: inherit;
  background: conic-gradient(var(--theme-action) 0deg var(--progress-degrees), var(--theme-grey) var(--progress-degrees) 360deg);
  border-radius: 50%;
  /* outline: 1px solid var(--theme-grey); */
}
.inner-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 84%;
  height: 84%;
  background: var(--theme-bg);
  border-radius: 50%;
  text-align: center;
}

.inner-percentage {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* text and form stylings */

h1 {
  font-family: var(--font-heading);
  text-align: center;
  color: var(--theme-action);
  text-shadow: 0px 0px 50px var(--theme-grey);
}

main-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1rem;
  font-weight: 100;
  margin: 1rem 0;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 1rem 0;
}

p,
label {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

strong {
  font-weight: 700;
}

#reset {
  font-weight: 700;
  color: var(--theme-action);
  cursor: pointer;
}

#reset:hover {
  color: var(--theme-text);
}

input,
select {
  margin: -2.8rem 0 0 0;
  padding: 0.5rem;
  width: 100%;
  color: var(--theme-action);
}

input:hover,
select:hover {
  color: var(--theme-text);
}

input[type="radio"] {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 1.5rem;
  margin-inline-end: 0.5rem;
  vertical-align: middle;
}

/* misc furniture */
footer {
  position: fixed;
  font-size: xx-small;
  bottom: 2px;
  right: 2px;
}

/*** MEDIA QUERIES based on aspect ratio, not size ***/

/* for portrait screens taller than 3:4 */
@media (max-aspect-ratio: 3/4) {
  .app-container {
    max-width: 480px;
  }
  .main-title {
    font-size: clamp(0.5rem, 4vw, 1.25rem);
  }
  .input-row,
  .results-row {
    flex-direction: column;
    align-items: center;
  }
}

/* for squareish screens between 3:4 and 4:3 */
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 4/3) {
  .main-title {
    font-size: clamp(0.5rem, 4vw, 1.25rem);
  }
  .input-row {
    gap: 1rem;
  }
}

/* for landscape screens wider than 4:3 */
@media (min-aspect-ratio: 4/3) {
  .main-title {
    font-size: clamp(0.5rem, 4vw, 1.25rem);
  }
  .input-row {
    gap: 1rem;
  }
}
