@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --game-white: #eee;
  --game-black: #08080f;
  --game-highlight: #ddd;
  --DEBUG: #f00;

  --cell-size: 80px;

  --font-family-heading: "Permanent Marker", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  --font-family-body: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  box-sizing: border-box;
  background: linear-gradient(45deg, #aaa, #272040);
  font-family: var(--font-family-body);
  color: var(--game-black);
}

#page-container {
  display: grid;
  height: 100vh;
  justify-items: center;
  align-items: center;
}

#app-container {
  margin: 0 auto;
}

.heading {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--game-white);
}

.title {
  font-family: var(--font-family-heading);
  font-size: 3rem;
  text-align: center;
}

.subtitle {
  font-family: var(--font-family-body);
  font-size: 1rem;
  text-align: center;
}

#board-container {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--game-white);
}

.row {
  display: block;
  margin: 5px;
  text-align: center;
}

.cell {
  display: inline-block;
  border-radius: 5px;
  font-family: var(--font-family-heading);
  font-size: 3rem;
  line-height: var(--cell-size);
  height: var(--cell-size);
  width: var(--cell-size);
  text-align: center;
  vertical-align: middle;
}

.flash {
  animation: flashing 0.5s 4 ease-in;
}
@keyframes flashing {
  0% {
    background-color: green;
  }
  100% {
    background-color: var(--game-white);
  }
}

.red {
  background-color: red;
}

.hoverable:hover {
  cursor: pointer;
  background-color: var(--game-highlight);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

footer {
  position: fixed;
  font-size: small;
  bottom: 5px;
  right: 5px;
}
