@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --game-white: #eee;
  --game-black: #08080f;
  --game-highlight: #ddd;
  --DEBUG: #f00;

  --cell-size: 75px;

  --font-family-heading: "Permanent Marker", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  --font-family-body: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  box-sizing: border-box;
  background: linear-gradient(45deg, #999, #666);
  font-family: var(--font-family-body);
  color: var(--game-black);
}

#page-container {
  display: grid;
  height: 100vh;
  justify-items: center;
  align-items: center;
}

#app-container {
  margin: 0 auto;
  width: 400px;
}

.heading {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--game-white);
}

.title {
  font-family: var(--font-family-heading);
  font-size: 3rem;
  text-align: center;
}

.subtitle {
  font-family: var(--font-family-body);
  font-size: 1rem;
  text-align: center;
}

#board-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  justify-items: stretch;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--game-white);
}

.row {
  display: block;
}

.cell {
  display: inline-block;
  font-family: var(--font-family-heading);
  font-size: 4rem;
  line-height: 4rem;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  text-align: center;
}

.cell:hover {
  background-color: var(--game-highlight);
}

.flash {
  animation: flashing 0.4s 4 ease-out;
}
@keyframes flashing {
  0% {
    background-color: green;
  }
  100% {
    background-color: white;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

footer {
  position: fixed;
  font-size: small;
  bottom: 5px;
  right: 5px;
}
